@import 'variables';
.test{
    background-color: antiquewhite;
    color: brown;
}
h1{
    color: $red-color;
    background-color: antiquewhite;
    font: 1em sans-serif;
    font-weight: 100px;
    border: 10px;
}